@font-face {
	font-family: 'Sonsie One';
	font-style: normal;
	font-weight: 100;
	src: local('Sonsie One'), local('SonsieOne-Regular'), url(sonsieone.woff) format('woff');
}

body {
	font-family: sans-serif;
	min-height: 740px;
	background: rgb(215, 215, 215);
	background: radial-gradient(rgb(192, 224, 255), rgb(160, 192, 255));
}

h1, h2, h3 {
	font-family: "Sonsie One", serif;
	text-align: center;
	margin-bottom: 1em;
}

h1 { font-size: 2em; }
h2 { font-size: 1.2em; }

.q:before { content: "“"; }
.q:after { content: "”"; }

.center {
	text-align: center;
}

a, a:visited, a:focus {
	color: #008;
	text-decoration: none;
}
